@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --brand: #022674; }
body { font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
a { text-decoration: none; }
